---
import type { Skill } from "@/assets/datas/skills";
import { Icon } from "astro-icon/components";

const { title, subtitle, description, iconName, technologies } =
    Astro.props as Skill;
---

<article
    class="relative flex flex-col overflow-hidden max-w-screen w-150 group/skillcard gap-10 bg-background-secondary border border-border p-5 rounded-3xl"
>
    <span class="flex gap-3 items-center">
        <div
            class="bg-background-tertiary grid place-items-center p-4 rounded-xl border border-border"
        >
            <Icon
                size={50}
                name={iconName}
                class="transition-transform duration-500 group-hover/skillcard:scale-110 group-hover/skillcard:rotate-90"
            />
        </div>
        <div>
            <h3 class="font-bold text-3xl">{title}</h3>
            <p class="tracking-widest text-md uppercase text-accent">
                {subtitle}
            </p>
        </div>
    </span>
    <p class="text-text-secondary text-xl">{description}</p>
    <div class="flex flex-col gap-5">
        <p class="tracking-widest text-md uppercase text-accent">
            Technologies
        </p>
        <ul class="flex justify-between px-3 gap-2 items-center flex-wrap">
            {
                technologies.map((tech) => (
                    <li class="flex flex-col items-center">
                        <Icon size={24} name={tech.iconName} />
                        <p class="text-text-secondary">{tech.label}</p>
                    </li>
                ))
            }
        </ul>
    </div>

    <div
        class="pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-300 group-hover/skillcard:opacity-100"
    >
        <div
            class="absolute inset-0 bg-linear-to-br from-primary-light/20 via-transparent to-accent/20"
        >
        </div>
    </div>
</article>
