---
import "@/assets/styles/index.css";
import buttonScript from "@/assets/scripts/buttons/index.ts?url";
import sidebarScript from "@/assets/scripts/sidebar/index.ts?url";
import themeScript from "@/assets/scripts/theme/index.ts?url";
import HeadSeo from "@/components/misc/HeadSeo.astro";
import Footer from "@/components/partials/Footer.astro";
import Header from "@/components/partials/Header.astro";
import Sidebar from "@/components/partials/Sidebar.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	noindex?: boolean;
}

const { title, description, image, noindex } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="icon"
			type="image/png"
			href="/favicons/favicon-96x96.png"
			sizes="96x96"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="KevStfnl" />
		<link rel="manifest" href="/favicons/site.webmanifest" />
		<HeadSeo
			title={title}
			description={description}
			image={image}
			noindex={noindex}
		/>
		<script is:inline src={buttonScript} type="module" defer></script>
		<script is:inline src={sidebarScript} type="module" defer></script>
		<script is:inline src={themeScript} type="module" defer></script>
	</head>
	<body>
		<Header />
		<Sidebar />
		<main class="site-main"><slot /></main>
		<Footer />
	</body>
</html>
